* {
    padding: 0;
    margin: 0;
    color: #3c4043;
    text-decoration: none;
    list-style: none;
    color: #eeeeee;
    background-color: #1D1C45;
    font-family: 'Courier New', Courier, monospace;
  }

  #top {
    scroll-behavior: smooth;
  }
  
  p {
    font-size: 18px;
  }

  h1{
      font-family: 'VCR OSD MONO';
      color: #C87AF9;
  }

  /*For Menu/Navbar*/
  .menu {
    margin-right: 0px;
    margin-left: 10px;
    height: 69px;
    list-style: none;
    text-align: center;
  }
  
  .menu ul {
    margin-top: 5px;
    display: inline-flex;
    list-style: none;
  }
  
  .menu ul li {
    transition: all 0.1s ease-in-out;
    border-radius: 5px;
    font-size: 18px;
    line-height: 30px;
    width: 95px;
    margin: 5px;
    padding: 8px;
  }
  
  .menu ul li a {
    text-decoration: none;
  }
  
  .viewall a {
    text-decoration: none;
  }
  
  .active,
  .menu ul li:hover {
    transition: all 0s ease-in-out;
    background: #4FB9F8;
    border-radius: 25px;
    width: auto;  
  }
  /*For Menu/Navbar*/
  .footer{
    background:#1D1C45;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    margin-bottom: 0px;
    margin-top:20px;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#4FB9F8;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
	.phppot-container {
	-webkit-font-smoothing: antialiased;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .9em;
	color: #1e2a28;
	width: 740px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
}

.phppot-container table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}

.phppot-container td, .phppot-container th {
	text-align: left;
	padding: 8px;
}

.phppot-container h1 {
	font-weight: normal;
}
input[type=text].phppot-input,
	.phppot-container textarea, .phppot-container select, .phppot-input,
	.phppot-select {
	box-sizing: border-box;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 3px;
	width: 300;
}

.phppot-container input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
	display: initial;
	opacity: initial;
	position: inherit;
	pointer-events: initial;
}

.phppot-container textarea, .phppot-textarea {
	width: 300px;
}

.phppot-container select, .phppot-select {
	display: initial;
	height: 30px;
	background-color: #fff;
	padding: 2px 5px;
}

.phppot-container button {
	width: 100px;
	padding: 6px 0px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
	background: #1871e6;
	color: #FFF;
	margin: 0px 20px 20px 0;
	border: #1469d8 1px solid;
}

.phppot-container button:focus {
	outline: none;
}

.phppot-container .phppot-row {
	padding-top: 15px;
}

#phppot-message {
	padding: 6px 20px;
	font-size: 1em;
	color: rgb(40, 40, 40);
	box-sizing: border-box;
	margin: 0px;
	border-radius: 3px;
	width: 100%;
	overflow: auto;
}

.phppot-container .error {
	padding: 6px 20px;
	border-radius: 3px;
	background-color: #fb817c;
	border: 1px solid #e46b66;
}

.phppot-container .success {
	background-color: #48e0a4;
	border: #40cc94 1px solid;
}

#phppot-loader-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#phppot-loader-ack-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#phppot-btn-send:hover {
	background: #1363cc;
	border: #105bbd 1px solid;
}

.phppot-container .validation-message {
	color: #e20900;
	display: inline-block;
}

.phppot-container .label {
	margin-bottom: 3px;
}

.phppot-form, .phppot-section {
	border: #eaeaea 1px solid;
	padding: 10px 25px 10px 30px;
	border-radius: 3px;
}

.phppot-container .display-none {
	display: none;
}

.icon-add-more-attachemnt {
	cursor: pointer;
	font-style: italic;
	font-size: .9em;
}

.inline-block {
	display: inline-block;
}
